body{
    color: red;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;    
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto; 
      
}

#container h1{
    font-size: 20px;

}

#container p{

    color: blue;
}

#cabecera{
    background-color: #33a;
    color: white;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,00.5);
    font-weight: bold;
    margin: 0;
    padding-top: 0.5em;
}

#cabecera span{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;    
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}